@import "../../../../mixins";

.contacto-container {
  min-height: 95vh;
  max-width: 100vw;


  .title {
    @include flex(center, center);
    width: 100%;
    height: 40vh;
    background-color: var(--primary500);
    color: white;
    background: url("../../../../assets/img/bg-masthead2.jpg");
    background-size: cover;
    background-attachment: fixed;

    h1 {
      font-size: 50px;
      z-index: 10;
      margin-top: 10vh;
    }

    .filter {
      width: 100%;
      height: 40vh;
    }
  }

  .contacto-content {
    @include flex(flex-start, space-between, row);
    padding: var(--padding3);

    .contact-mapa {
      padding: var(--padding3);
      position: relative;
      height: 100%;

      .message {
        position: absolute;
        width: calc(40vw - (var(--margin2) * 2));
        margin: var(--margin2);
        padding: var(--padding1);
        border-radius: var(--radius1);
        background-color: var(--ligth_grey);
        opacity: 90%;
        z-index: 200;

        p {
          color: var(--primary500);
          font-size: var(--font2);
        }
      }
    }

    app-mapa {
      z-index: 10;
    }

    .mapa {
      min-height: 95vh;
      height: 100%;
    }
  }
}

@media screen and (max-width: 500px) {
  .contacto-container {
    .contacto-content {
      @include flex(flex-start, center, column);
      padding: 0;
      height: fit-content;

      .contact-mapa {
        padding: var(--padding3);

        .message {
          width: calc(85vw);
          margin: 0;
          padding: 0;

          p {
            padding: var(--padding1);
          }
        }
      }
    }
  }
}