@import "../../../../mixins";

.certificaciones-subcontainer {
  @include flex(center, space-evenly, row);

  .certificaciones {
    @include flex(flex-start, space-between, column);
    gap: var(--gap1);
    color: var(--primary500);

    ul {
      list-style: circle;
      flex-grow: 1;
    }
  }

  img {
    height: 30vh;
  }

  .big-certificate {
    display: none;
    position: fixed;
    top: 20%;
    right: 40%;
    height: 70vh;
    z-index: 100;
  }

  img:hover {
    filter: blur(1px);
    cursor: zoom-in;
  }

  img:hover~.big-certificate {
    display: block;
  }
}

@media screen and (max-width: 700px) {
  .certificaciones-subcontainer {
    @include flex(center, flex-start, column);


    img:hover {
      filter: none;
      cursor: auto;
    }

    img:hover~.big-certificate {
      display: none;
    }
  }
}