<div class="institucional-container">
  <div class="title">
    <h1>Institucional</h1>
  </div>

  <div class="certificaciones-container">
    <h2>Certificaciones</h2>
    <div class="certificaciones-subcontainer">
      <div class="certificaciones">
        <ul *ngFor="let item of certificaciones" >
          <li>
            <h3>{{item}}</h3>
          </li>
        </ul>
      </div>
      <img src="../../../../assets/img/certificado.png" alt="">
      <img class="big-certificate fadeInUp" src="../../../../assets/img/certificado.png" alt="">
    </div>
  </div>

  <div class="clientes-container">
    <h2>Clientes</h2>
    <div class="clientes-subcontainer">
      <div class="clientes">
        <ul *ngFor="let item of clientes | slice:0:3; let i=index" >
          <li>
            <h3>{{item}}</h3>
          </li>
        </ul>
      </div>
      <div class="clientes">
        <ul *ngFor="let item of clientes | slice:3:6; let i=index" >
          <li>
            <h3>{{item}}</h3>
          </li>
        </ul>
      </div>
      <div class="clientes">
        <ul *ngFor="let item of clientes | slice:6:9; let i=index" >
          <li>
            <h3>{{item}}</h3>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="buques-container">
    <h2>Listado de buques</h2>
    <div class="buques-subcontainer">
      <div class="buques">
        <ul *ngFor="let item of buques" >
          <li>
            <img src="../../../../assets/img/{{item.img}}" alt="">
            <div class="buque-nombre">
              <p>{{item.nombre}}</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="personal-container">
    <h2>Listado de personal</h2>
    <div class="personal-subcontainer align-left">
      <div class="personal">
        <ul *ngFor="let item of listadoPersonal" >
          <li>
            <h3>{{item}}</h3>
          </li>
        </ul>
      </div>
      <img src="../../../../assets/svg/logo.svg" alt="">
    </div>
  </div>

  <div class="marcas-container">
    <h2>Marcas que trabajamos</h2>
    <div class="marcas-subcontainer">
      <div class="marcas">
        <ul *ngFor="let item of marcas" >
          <li>
            <img src="../../../../assets/svg/{{item.img}}" alt="">
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
