<div class="institucional-container">

  <div class="title">
    <div class="filter"></div>
    <h1>Institucional</h1>
  </div>

  <div class="certificaciones-container">
    <h2>Certificaciones</h2>
    <app-certificaciones [certificaciones]="certificaciones"></app-certificaciones>
  </div>

  <div class="clientes-container">
    <h2>Clientes</h2>
    <app-clientes [clientes]="clientes"></app-clientes>
  </div>

  <div class="buques-container">
    <h2>Listado de buques</h2>
    <app-listado-buques [buques]="buques"></app-listado-buques>
  </div>

  <div class="personal-container">
    <h2>Listado de personal</h2>
    <app-listado-personal [listadoPersonal]="listadoPersonal"></app-listado-personal>
  </div>

  <div class="proveedores-container">
    <h2>Proveedores</h2>
    <app-provedores [proveedores]="proveedores"></app-provedores>
  </div>

</div>
