.objetivos-container {
  min-height: 25vh;
  background-color: var(--ligth_grey);

  mat-card-title {
    color: var(--dark_grey);
  }

  mat-icon {
    font-size: 50px;
    color: var(--primary900);
  }
}