<div #header class="header-container" >
  <div class="header-title">
    <img src="../../../../assets/svg/logo.svg" alt="">
    <h1>RM servicios navales</h1>
  </div>

  <div>
    <ul>
      <li *ngFor="let item of menu" >
            <button mat-button routerLink="{{ item }}" routerLinkActive="active">
              {{ item }}
            </button>
      </li>
    </ul>
  </div>

  <button [ngClass]="['back-to-top', 'scaleInCenter', isIntoView ? 'scaleOutCenter':'']"  (click)="scrollUp()" mat-icon-button>
    <mat-icon>navigation</mat-icon>
  </button>
</div>
