<div class="inicio-container ">
  <div class="inicio-landing">
    <img src="../../../../assets/img/bg-masthead2.jpg" alt="" />
    <div class="filter"></div>
    <div class="title fadeInUp">
      <h1 >Somos líderes en reparación y 
        mantenimiento de motores de barcos para un 
        rendimiento marino confiable
      </h1>
      <button mat-raised-button color="primary" (click)="scrollDown()">Conózcanos</button>
    </div>
  </div>

  
  <div class="objetivos-container">
    <h2>Nuestros objetivos</h2>
    <div class="objetivos">
        <ul *ngFor="let item of objetivos" >
          <li>
            <app-objetivos [objetivo]="item"></app-objetivos>
          </li>
        </ul>
    </div>
  </div>

  <div class="mision-container">
    <app-mision-vision title="Mision" [text]="mision" backgroundcolor="var(--primary500)"></app-mision-vision>
    <app-mision-vision title="Vision" [text]="vision" backgroundcolor="var(--primary900)"></app-mision-vision>
  </div>
</div>
