@import "../../../../mixins";

.servicios-subcontainer {
  @include flex(center, space-evenly, row);

  .servicios {
    @include flex(flex-start, space-between, column);
    gap: var(--gap1);
    max-width: 30%;

    ul {
      list-style: circle;
      color: var(--primary500);
    }
  }

  .mobile {
    display: none;
    max-width: 90%;
  }
}

@media screen and (max-width: 700px) {
  .servicios-subcontainer {
    @include flex(center, space-evenly, row);

    .servicios {
      display: none;
    }

    .mobile {
      @include flex(flex-start, space-between, column);

    }
  }
}