<div class="footer-container">

  <div class="title">
    <img src="../../../../assets/img/RMlogo.png" alt="">
    <h1>RM servicios navales</h1>
  </div>
  
  <div>
    <h2>Contacto</h2>
    <p>Teléfono: +54 9 2235 80-7763</p>
    <p>Email: romagnolimatias@hotmail.com</p>
    <a href="https://www.instagram.com/rmserviciosnavales/" target="_blank">Instagram: @rmserviciosnavales</a>
    <p>Dirección: Ayolas 5510, Mar del Plata</p>
    <p>Horarios de atención: Lunes a Viernes de 8 am a 18 pm.</p>
  </div>
</div>
