@import '../../../../mixins';

.contact-container {
  @include flex(center, flex-start, column);
  width: 40vw;
  height: fit-content;
  min-height: 550px;
  border-radius: var(--radius1);
  background-color: var(--ligth_grey);
  box-sizing: border-box;
  padding: var(--padding3);

  .title {
    color: var(--primary500);
  }

  mat-card-content {
    border-radius: var(--radius1);
    border: 3px solid white;
    padding: var(--padding3);

    ul {
      width: 30vw;
      list-style: none;
    }

    li {
      @include flex(center, flex-start, column);
      gap: var(--gap2);

      p {
        font-size: var(--font2);
      }
    }

    img {
      width: 100px;
      fill: var(--primary900);
    }
  }
}

@media screen and (max-width: 500px) {
  .contact-container {
    @include flex(center, flex-start, column);
    width: 85vw;
    height: fit-content;
    min-height: 550px;
    padding: var(--padding1);

    mat-card-content {
      /* border: none; */
      padding: var(--padding1);

      ul {
        width: 75vw;
      }

      li {
        @include flex(center, flex-start, column);
        gap: var(--gap2);
      }
    }
  }
}