<mat-card class="contact-container">
  <mat-card-title>
    <h2 class="title">Si te interesa contartar alguno de los servicios que brindamos o te quedó alguna duda, no dudes en contactarnos por algunos de estos medios:</h2>
  </mat-card-title>
  <mat-card-content>
    <ul>
      <li>
        <img src="../../../../assets/svg/mail.svg" alt="mail" />
        <p>romagnolimatias@hotmail.com</p>
      </li>
      <li>
        <img src="../../../../assets/svg/phone.svg" alt="Telefono" />
        <p> +54 9 2235 80-7763 </p>
      </li>
      <li>
        <a href="https://www.instagram.com/rmserviciosnavales/" target="_blank">
          <img src="../../../../assets/svg/instagram.svg"  alt="Instagram" />
        </a>
        <p>@rmserviciosnavales</p>
      </li>
    </ul>
  </mat-card-content>
  

</mat-card>
