@use 'sass:map';
@use '@angular/material' as mat;
@include mat.core();

$RMservicios-navales-primary: mat.define-palette(mat.$indigo-palette);
$RMservicios-navales-accent: mat.define-palette(mat.$blue-gray-palette, A200, A100, A400);
$RMservicios-navales-warn: mat.define-palette(mat.$red-palette);

$RMservicios-navales-light-theme: mat.define-light-theme((color: (primary: $RMservicios-navales-primary,
        accent: $RMservicios-navales-accent,
        warn: $RMservicios-navales-warn,
      )));
$RMservicios-navales-dark-theme: mat.define-dark-theme((color: (primary: $RMservicios-navales-primary,
        accent: $RMservicios-navales-accent,
        warn: $RMservicios-navales-warn,
      ),
      typography: mat.define-typography-config(),
      density: 0));

@include mat.core-theme($RMservicios-navales-dark-theme);
@include mat.button-theme($RMservicios-navales-dark-theme);

@media (prefers-color-scheme: light) {
  @include mat.core-color($RMservicios-navales-light-theme);
  @include mat.button-color($RMservicios-navales-light-theme);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary900);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary500);
}

::-webkit-scrollbar-track {
  background: white;
  border: 0px none var(--primary900);
  border-radius: 3px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary50: #E1F5FE;
  --primary500: rgba(9, 9, 121);
  --primary900: #01579B;

  --gap1: 10px;
  --gap2: 20px;
  --gap3: 30px;

  --margin1: 10px;
  --margin2: 20px;
  --margin3: 50px;


  --radius1: 10px;
  --radius2: 20px;

  --padding1: 5px;
  --padding2: 10px;
  --padding3: 20px;

  --font1: 30px;
  --font2: 15px;

  --red: #EC407A;
  --ligth_grey: #EEEEEE;
  --grey: #E0E0E0;
  --dark_grey: #424242;

  h2 {
    margin-bottom: var(--margin3);
  }

  button {
    cursor: pointer;
  }

  .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  .scaleIn {
    -webkit-animation-name: scaleIn;
    animation-name: scaleIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  .scaleInCenter {
    -webkit-animation-name: scaleInCenter;
    animation-name: scaleInCenter;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  .scaleOutCenter {
    -webkit-animation-name: scaleOutCenter;
    animation-name: scaleOutCenter;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  .fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
}



@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

@-webkit-keyframes scaleInCenter {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }

  100% {
    opacity: 0.8;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@keyframes scaleInCenter {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }

  100% {
    opacity: 0.8;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@-webkit-keyframes scaleOutCenter {
  0% {
    opacity: 0.8;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}

@keyframes scaleOutCenter {
  0% {
    opacity: 0.8;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}